<div class="wraper">
  <div class="container">
  <div class="left-content p-30">
    <div class="logo">
      <a href="index.html">
        <span>My</span>
        <span>Resume</span>
      </a>
    </div>
    <div class="nav">
      <ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="">Work Profile</a></li>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Education</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="left-footer">
      <div class="social-icons">
        <ul>
          <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="foot-contact">
        <ul>
          <li>n.rajesh091&#64;gmail.com</li>
          <li>+91 9907968723 / +447442264131</li>
        </ul>
      </div>
      
<div class="copy-rights">Copyright &copy;2019 All rights reserved</div>
    </div>

  </div>
  <div class="main-content">
    <div class="section1 p-30" id="Home">
    <div class="sec-title">
<div class="pg-sub-title">Home</div>
<div class="pg-title">My Profile</div>
    </div>
      <div class="d-flex-align-center">
      <div class="user-img flex-1"><img src="https://colorlib.com/preview/theme/meetme/img/personal.jpg"></div>
      <div class="user-profile flex-1">
        <div class="pro-details">
          <div class="name">Rajesh Nookala</div>
          <div class="role">Senior Front-End Developer(Tech Lead)</div>

        </div>
        <div class="text">Senior Full Stack Engineer (Front-End Oriented) and Cross-Functional Technical Lead with
          7+ years of experience in software development, specializing in front-end technologies, cloud
          engineering, and scalable architectures. Passionate about optimizing performance, enhancing
          security, and implementing modern engineering solutions to drive business growth. 
          </div>
        <div class="pr-list">
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i> +917000975167 / +447442264131</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> n.rajesh1091&#64;gmail.com</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> London, Uk</li>
          </ul>
        </div>
    <div class="social-icons-head">
        <ul>
          <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      </div>
    </div>
    </div>

  </div>
</div>
</div>